
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');


@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap');

.label{

    -fx-text-fill: black;

    -fx-font-size: 15px;
    -fx-font-family: 'Montserrat', sans-serif;

}

.btnBarNameLabel{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    font-size: 50px;

}


.button{





}



#lblWrongPassword{
    -fx-text-fill: red;
    -fx-font-size: 13px;

}

.btnBar{
    -fx-background-color: #A31621;

}



.tablebuttons{

    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: white;

}

.AnchorPane{
    -fx-background-color: whitesmoke;

}

#studentAttendance{
    -fx-font-size: 20px;
    -fx-font-family: 'Montserrat', sans-serif;

}

#Studentmenubutton{

    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: white;

}
#buttontry{
    -fx-border-style: solid;


}

#rectangle{
    -fx-stroke: #5A6DA9;
    -fx-stroke-width: 2;
    -fx-fill: white;
}

#lblAbsence, #lblAbsence1, #lblAbsence2{
    -fx-font-size: 12.5;
}

#tblAttendance{
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-background-color: whitesmoke;
    -fx-border-color: #5A6DA9;
    -fx-selection-bar: #A31621;
}

.table-row-cell:selected .text {
       -fx-fill: #A31621;

}


#tableColumns{
    
     -fx-alignment: CENTER_LEFT;
    -fx-font-size: 12
    
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #EBB140;
}

.Tableviewcells{
    -fx-background-color: whitesmoke;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);       
}



#studentdatepicker{


    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: white;


}

#todaylbls{

    -fx-font-size:18px;
    -fx-font-family: 'Quattrocento Sans', sans-serif;




}

#todaydatelbls{

    -fx-font-size:18px;
    -fx-font-family: 'Baloo Bhaina 2', cursive;
}




#lblHint{
    -fx-font-size: 15px;
    -fx-text-fill: grey;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 9px;
}

#loginBtn{
    -fx-background-color: #FBBB2C;
    -fx-font-size: 15px;
    -fx-margin-top: 20px;
}

#usernameTxtField{
    margin-top: 20px;
}


#TeacherStudentBorders{
    -fx-border-style: solid;
    -fx-border-color: black;


}
#StudentCount{

    -fx-font-size: 25px;
    -fx-text-fill: black;

}

#Dashboard{
    -fx-font-size: 22px;
    -fx-text-fill: black;

}
#PaneColorsTeacherView{

    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: white;

}

#CourseCombobox{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: white;
}

.tbStatus:disabled, .tbStatus:disabled > *{
    -fx-opacity: 1.0;

}

.redTB{

    -fx-background-color: red;
}


