
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');




.label{

    -fx-text-fill: black;


    -fx-font-family: 'Montserrat', sans-serif;

}

.reqL{
    -fx-padding: 10px;
    
    
}


.btnBarNameLabel{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    font-size: 50px;

}


.button{
    -fx-background-color: lightgray;


}


.btnBar{
    -fx-background-color: #A31621;

}

