
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');




.label{

    -fx-text-fill: black;

    -fx-font-size: 15px;
    -fx-font-family: 'Montserrat', sans-serif;

}

.btnBarNameLabel{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    font-size: 50px;

}


.button{
    
    
    


}

#loginBtn{
    -fx-background-color: #FBBB2C;
    -fx-font-size: 15px;
}


.btnBar{
    -fx-background-color: #A31621;

}



.tablebuttons{

    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: white;

}

.AnchorPane{
    -fx-background-color: whitesmoke;

}

#studentAttendance{
    -fx-font-size: 20px;
    -fx-font-family: 'Montserrat', sans-serif;

}

#Studentmenubutton{

    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: white;

}
#buttontry{
    -fx-border-style: solid;


}

#Tableviewstudentatt{
    -fx-border-style: solid;
    -fx-background-color: white;



}
.Tableviewcells{
    -fx-background-color: lightgrey;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);       

}



#studentdatepicker{


    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: white;


}
